hub:
  cookieSecret: "%%HUBSECRET%%"
proxy:
  secretToken: "%%PROXYSECRET%%"
auth:
  type: github
  github:
    clientId: "309eec9a15e1ae5e9ca9"
    clientSecret: "%%GITHUBSECRET%%"
    callbackUrl: "http://35.189.251.190/hub/oauth_callback"
singleuser:
  image:
    name: gcr.io/deeplearning-codelab-183309/workspace
    tag: %%TAG%%
  storage:
    type: none
