hub:
  cookieSecret: "16b46f8d327181bb43d1ff5809a99c2b25f7e8fa4c6f99518575f313fc36d537"
proxy:
  secretToken: "548b4ff8c3ed81ac1ab472440c325983cc4af246d725ff5d184cee334aaf850f"
auth:
  type: github
  github:
    clientId: "309eec9a15e1ae5e9ca9"
    clientSecret: "%%GITHUBSECRET%%"
    callbackUrl: "http://35.189.251.190/hub/oauth_callback"
singleuser:
  image:
    name: gcr.io/deeplearning-codelab-183309/workspace
    tag: %%TAG%%
  storage:
    type: none
